.conteneurGeneral
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:780px;
    padding: 2px;
    margin: 2px auto;
    margin-right: 2px;
    background-color: #f5f5dc;
    
}
/* MISE EN FORME DU HEADER*/
.header
{
    width: 100%;
    height: 60%;
    margin:  auto;
    display: flex;
    flex-direction: column;
    padding: 1.5px auto;
    background-color: #ff6600;

}

#header1
{
    width: 100%; /*je mettrais 100%*/
    height: 50%;
    margin-bottom: 0.3px auto;
    margin: auto;
    background-color: gray;
}
#imageheader1
{
    width: 100%;
    height: 100%;
}

#header2
{
    width: 100%; /*je mettrais 100%*/
    height: 40%;
    margin-bottom: 0.5px auto;
    margin: auto;
    background-color:#f5f5dc;
    display: flex;
    flex-direction: row;
    

}

.paraGauche
{
    margin: auto;
    width: 15%;
    height: 40px;
    background-color: #f5f5dc;
    margin-left: 23px;
    padding-top: 16px;
}
.ptitMenu
{
    margin: auto;
    width: 30%;
    height: 40px;
    margin-left: -79px;
    background: #f5f5dc;
    text-align: left;
    display: flex;
    gap: 17px;
    padding: 3px;
    align-items: center;
}
#gauche
{
    color: orange;
    text-decoration: none;
}

#b1
{
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

#b2
{
    color: grey;
    text-decoration: none;
    font-weight: bold;
}

#b2:hover
{
    color: royalblue;
}

#b3
{
    color: grey;
    text-decoration: none;
    font-weight: bold;
}

#b3:hover
{
    color: orange;
    
}

#header3
{
    width: 100%; /*je mettrais 100%*/
    height: 60%;
    margin-bottom: 0.5px ;
    margin: auto;
    background-color: white;
    display: flex;
    gap: 8px;
    vertical-align: middle;
}

.tofLogo
{
    width: 12%;
    height: 70%;
    padding-top: 9.5px;
    padding-left: 11px;
    margin-right: 105px;
}

#barre
{
  width: 56%;
  display: flex;
  height: 70%;
  padding-top: 20.3px;
  padding-left: 1px;
  margin-right: -3px;
  gap: 2px;
}

.inp
{
 padding: 3px 3px;
 width: 70%;
 height: 45%;
 padding-left: 5px;

}

.bout 
{
 background: #ff7f00;
 width: 20%;
 height: 56%;
 cursor: pointer;
 font: bold 8px Arial, Helvetica;
 color: #fff;
 border-radius: 5px;
 vertical-align: middle;
 margin-top: 2px;
 
 }
.bout:hover
 {
  background: #ff6600;
 }
         
.bout:active 
 {
    background: #5b5d60;
    outline: none;
 }
@media screen  and(min-width:100px){
.recherche
 {
    width: 15px;
 }
}

.menuIcon
{
    display: flex;
    height: 60%;
    width: 45%;
    background-color:#ffffff;
    gap: 6px;
    padding:10px 0px;
    size: 30px;
    margin-right: 20px;
    justify-content: left;
    align-items: center;
    padding-top: 14px;

}





.c{
    
    color: black;
    text-decoration: none;
    background-color: gray;
    height: 34px;
    width: 38%;
    align-items: center;
    border-radius: 4px;
    padding-top: 10px;
    text-align: center;

  }
  .c1{
   
    color: black;
    text-decoration: none;
  }
  .c2{
    color: black;
    text-decoration: none;
  }
  

/* MISE EN FORME DU MAIN*/
.main
{
    width: 96%;
    height: 900px;
    margin: 2px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 18px;
    

}
.asideG
{
    height: 98%;
    width: 22%;
    background-color: white;
    padding: 2px;
}
.aside ul{
    align-items: center;
    margin-top: 0px;
    line-height: -7px;
  }
  
  .asideG ul li a{
    display: block;
    padding: 16px 25px;
    color: black;
    font-style: normal;
    font-weight: lighter;
    font-size: small;
    margin-left: 15px;
    padding-left: 2px;
    margin-bottom: -5px;
    text-decoration: none;
   }
  
   ul {
    
      list-style-type: none;
      padding: 0;
      margin: 0;
   }
   li{
    padding-left: 5px;
   }
   
   .asideG ul paraGaucheli a .icon{
    font-size: 20px;
    color: white;
    vertical-align: middle;
   }
   
  
   .asideG ul li a:hover{ /*changement de couleuur de fond et de couleur des elents lorsq survole*/
  
    color: orange;
   }
   


   .milieu
{
    height: 98%;
    width: 68%;
    padding: 2px;
    background-color: white;
    margin-left: 0px;
    margin-right: 19px;
    padding-left: 2px;
    margin: auto;
    padding-bottom: Opx;
    position: relative;
}
 .img {
    margin: auto;
    display: block;
    width: 100%;
    height: 450px;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:  #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
/*.milieu {
    max-width: 612px;
    position: relative;
    margin: auto;
  }
   */
  /*Style for ">" next and "<" previous buttons */
  .slider-btn{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }
   
  /* Le positionnement du boutont precedent */
  .prev{
    position: absolute;
    left: 2%;
    top: 50%;
    
  }
   /* Le positionnement du boutont suivant */
  .next {
    position: absolute;
    right: 2%;
    top: 50%;
  }
   
  /* couleur de fond au survol */
  .prev:hover,
  .next:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.8);
  }
  



.asideD
{
   background: white;
    justify-items: right;
    height: 98%;
    width: 20%;
    padding: 2px;
    margin: 5px;
    display: flex;
    flex-direction: column;

}

.haut
{
  height: 42%;
  width: 94%;
  background-color: #f5f5dc;
  border-radius: 1px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  margin-bottom: 8px;
  
  
}

.lignes
{
  height: 32.333%;
  width: 100%;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  position: relative;
  align-items: center;
  vertical-align: center;
 
}
.tex
{
  line-height: 1px;
  font-size: 17px;
  

}

.a{
  color: black;
  text-decoration: none;
}

.a1 
{
  color: orange;
}

.bas
{
  height: 50%;
  width: 100%;
  padding-bottom: 0px;
}

.imDroite
{
  width: 1OOpx;
  height: 248px;
}


img {
  margin: auto;
  display: block;
  width: 100%;
}


  footer{margin-top: 20px;
    width: 98%;
    height: 25%;
    margin: 10px auto;
    background-color: white;
  
  
  }
  #footer
  {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
  }
  
  footer img{
    height: 110px;
    margin: 0 auto;
  }
  
  .slide-container
  {
    overflow: auto;
    white-space: nowrap;
  }
  
  .imfooter2
  {
    display: none;
  }
  
  .arrow1,.arrow2
  {
    background-color: transparent;
    border: none;
    max-height: 50px;
    margin: auto 0;
    size: 17px;
  }
  
  
  .arrow1:hover,.arrow2:hover
  {
   cursor: pointer;
  }

  /* Code pour la responsivité de la page*/
  @media screen and (max-width:390px){
    
    .header 
  { 
    width: 380px;
    

  }
  .main
  {
    width: 390px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;

  }
 .asideG
  {
    
    width: 100%;
    
  }

.milieu
{
    width: 100%;
    
}
.img {
  width: 100%;
  height: 450px;
}

.asideD
{
  
    width: 100%;
    

}

footer{
  width: 380px;
  
}

#barre
{
  width: 39%;

}

.inp
{
 
 width: 40%;
 

}

 .bout 
 {
  font-size: 4.3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 40px;
  }
  
  
  .tofLogo{
    width: 67px;
    height: 80%;
    padding-top: 9.5px;
    padding-left: 8px;
    margin-right: 16px;
    margin-top: 19px;
    margin-left: 10px;
  }





#barre
{
  width: 38%;
 
  height: 70%;
  padding-top: 20.3px;
  padding-left: 1px;
  margin-right: -1px;
  
  
}

.inp
{
 padding: 3px 3px;
 width: 70%;
 height: 45%;
 padding-left: 5px;

}


.menuIcon
{
   
    height: 60%;
    width: 45%;
    margin-right: 20px;
    

}

    
  }
